.hidden {
    display: none;
}

body {
    font-family: Lato, Arial, sans-serif;
    font-size: 1rem;
    color: black;
    background-color: lightgray;
}

nav ul {
    background-color: grey;
    height: 5rem;
    text-align: center;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

nav li {
    font-size: 2rem;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.selected {
    text-decoration: underline;
}

#introduction {
    width: 90%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#introduction article {
    width: 50%;
}

#introduction h2 {
    font-size: 3rem;
}

#introduction h1 {
   font-size: 2.7rem;
}

#introduction p {
    font-size: 2rem;
    margin-top: 1rem;
}

#introduction img {
    width: auto;
    height: 55%;
}